ALTER TABLE public.observations ADD COLUMN IF NOT EXISTS category text, ADD COLUMN IF NOT EXISTS sub_category text, ADD COLUMN IF NOT EXISTS points integer DEFAULT 0, ADD COLUMN IF NOT EXISTS verification_status text DEFAULT 'verified';
